# Making data from Jupyter available to Tableau using JupyTab

JupyTab library source <https://github.com/CFMTech/Jupytab> 

Tutorial <https://towardsdatascience.com/interactive-simulation-with-tableau-and-jupytab-c26adb1be564>

In [1]:
import jupytab
print(jupytab.__version__)

0.9.11

In [2]:
import pandas as pd
from vega_datasets import data
cars = data.cars()
cars.head()

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA

In [3]:
tables = jupytab.Tables()

tables['cars'] = jupytab.DataFrameTable("cars DataSet", cars, include_index=False)

In [4]:
# GET /schema
tables.render_schema()

[{"id": "cars", "alias": "cars DataSet", "columns": [{"id": "Name", "dataType": "string"}, {"id": "Miles_per_Gallon", "dataType": "float"}, {"id": "Cylinders", "dataType": "int"}, {"id": "Displacement", "dataType": "float"}, {"id": "Horsepower", "dataType": "float"}, {"id": "Weight_in_lbs", "dataType": "int"}, {"id": "Acceleration", "dataType": "float"}, {"id": "Year", "dataType": "datetime"}, {"id": "Origin", "dataType": "string"}]}]

In [5]:
# GET /data
try:
    tables.render_data(REQUEST)
except NameError:
    print("Not available outside jupytab context")

Not available outside jupytab context